:root {
    --orange: #82420e;
    --gold: #a3693a;
}

body {
    background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url('./images/bg.jpg') fixed no-repeat center;
    background-size: cover;
}

.navbar {
    padding: 0;
    margin-top: 60px;
    line-height: 50px;
    border-radius: 8px;
}

.navbar-brand {
    font-size: 30px;
    padding-left: 25px;
    margin-left: 15px;
    text-align: center;
    font-weight: 600;
}

.navbar-brand span {
    color: var(--orange);
    display: block;
    font-size: 25px;
    border-top: 1px solid var(--orange);
    font-weight: 500;
    font-family: Arial, Helvetica, sans-serif;
}

.nav-item i {
    color: var(--gold);
    padding-right: 5px;
}

#main-navbar li {
    text-align: center;
    padding: 0 40px;
    font-weight: 600;
}

#main-navbar a {
    color: rgba(0, 0, 0, .9);
    border-bottom: 2px solid transparent;
}

#main-navbar a:hover,
.nav-link.active {
    border-bottom: 2px solid var(--orange) !important;
}

.header-content {
    color: #fff;
    text-align: center;
    margin-top: 100px;
}

.header-content h1,
.header-content h2,
.header-content h3 {
    font-size: 65px;
}

.header-content span {
    font-size: 100px;
    display: block;
}

.header-content .cta {
    margin-top: 80px;
}

.cta a.button-dark {
    background-color: var(--gold);
    color: #fff;
    padding: 15px;
    border: none;
    font-weight: 600;
    border: 2px solid #f2f2f2;
    text-decoration: none;
}

.cta a.button-dark:hover {
    border: 2px solid var(--orange);
}


/* Menu Page */

.main-content .menu-list {
    margin-top: 0;
    color: rgba(0, 0, 0, .9);
    padding: 10px 25px;
    display: flex;
    flex-wrap: wrap;
    align-content: space-around;
}

.main-content .menu-heading {
    font-size: 30px;
    text-align: center;
    color: #fff;
    margin-top: 30px;
}

.menu-heading h2,
.menu-heading h3 {
    font-weight: 300;
}

.main-content .card {
    margin: 15px 15px;
    width: 30%;
    border: 3px solid transparent;
}

.main-content .card:hover {
    border: 3px solid var(--gold);
}

.main-content .card .card-body .price {
    font-size: 20px;
    font-weight: bold;
    color: var(--gold);
    float: right;
}


/* Media Queries */

@media screen and (max-width: 992px) {
    .main-content {
        width: 100%;
    }
    .main-content .card {
        width: 95%;
    }
    .navbar-brand {
        padding: 0;
    }
    .navbar .navbar-toggler {
        margin-right: 5px;
    }
    #main-navbar li:hover {
        background: #f1f1f1;
    }
    .header-content span {
        font-size: 60px;
    }
    .header-content h1,
    .header-content h2,
    .header-content h3 {
        font-size: 30px;
    }
}

@media screen and (min-width: 993px) and (max-width: 1200px) {
    #main-navbar li {
        padding: 0 20px;
    }
    .main-content .card {
        width: 45%;
    }
    .header-content h1,
    .header-content h2,
    .header-content h3 {
        font-size: 45px;
    }
    .header-content span {
        font-size: 85px;
    }
}